@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@layer base{
    body{
        font-family: sans-serif;
    }
    .dark option{
        background-color: black;
    }
    option{
        background-color: rgb(222, 219, 219);
    }
}

@layer utilities {
  .dark .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d0cccc; /* Tailwind blue-500 */
    border-radius: 9999px;
  }
  .dark .custom-scrollbar::-webkit-scrollbar-track {
    background: #00000000; /* Tailwind gray-200 */
    border-radius: 5px;
  }
   .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
   .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 9999px;
  }
   .custom-scrollbar::-webkit-scrollbar-track {
    background: #00000000; 
    border-radius: 5px;
  }
}



@layer components{
    .btn{
        @apply px-4 py-2 rounded-xl bg-black text-white;
    }
    .dark-theme{
        @apply bg-gradient-to-b from-[#142421f4] from-30% to-[#3f2b3a]
    }
    .light-theme{
        @apply bg-gradient-to-b from-[#cafff3] to-[#d6b995]
    }
    .in{
        @apply border border-white/10 w-4/5 h-12 placeholder-dark/60 dark:placeholder-white/60 rounded-xl p-5 bg-dark/20 dark:bg-white/40
    }
}

@theme{
    --color-primary : #ffff;
    --color-secondary : #E1E1E1;
    --color-dark : #000;
    --color-dark-secondary : #1A1A1A;
}